		.modalwarp {
			display: flex;
			flex-direction: column;
			justify-content: center;


			.title {
				font-weight: 700;
				margin-bottom: 10px;
			}
			.top {
				.name {
					width: 100px;
				}
			}
			.main {
				display: flex;
				flex-direction: column;

				.maincontent {
					display: flex;
					flex-direction: row;
				align-items: center;
				}
			}
		}